<div class="logo" fxLayoutAlign="end" > 
    <img src="/assets/img/logo_sup.jpg" alt="">
</div>
<form [formGroup]="group" fxLayout="column">
    <h2>Bienvenido</h2>
    <mat-form-field appearence="outline">
        <mat-label>Correo</mat-label>
        <input type="text" 
            matInput 
            required 
            placeholder="Correo" 
            formControlName="correo">
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    
    <mat-form-field appearence="outline">
        <mat-label>Contraseña</mat-label>
        <input type="{{lockIcon ? 'password': 'text'}}" 
                matInput 
                required 
                placeholder="Contraseña" 
                formControlName="password">
        <button mat-icon-button
                matSuffix
                (click) = "lockIcon = !lockIcon">
            <mat-icon matSuffix>{{lockIcon ? "lock": "lock_open"}}</mat-icon>
        </button>
    </mat-form-field>
    <re-captcha class="recaptcha" formControlName="recaptchaReactive"></re-captcha>
    <button
        mat-raised-button
        color="primary"
        [disabled]="group.invalid"
        (click) = "login(group.value)"
        >Ingresar</button>
</form>


