<div fxLayout fxLayoutAlign= "center" class="container" >
    <!--<mat-form-field appearence="outline">
        <mat-label>Buscador</mat-label>
        <input type="text" 
            matInput 
            required 
            placeholder="Buscador" 
            formControlName="buscador">
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>--->
    <mat-card fxFlex = "1 1 95%" class="mat-elevation-z15">
        <!--muestra contenido de otro componente-->
        <ng-content></ng-content>
    </mat-card>
</div>
